
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.App {
    &__title {
    margin-left: 5px;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
    color: rgb(74, 58, 83);
    background-color: rgb(63, 51, 65);
  }
}
